.ipynb_checkpoints
*/__pycache__
*.log
*.zip
production_model
run_<catboost._Default
catboost_info
modeling/data/out/*[1-4].csv
modeling/data/in
.github/workflows
file_editor.ipynb
config_private.json
nohup.out
#modeling/mlruns/[0-9]*
modeling/mlruns/.trash
test_api/mlruns/
