.ipynb_checkpoints
*/__pycache__
*.log
*.zip
production_model
catboost_info
modeling/data/in
modeling/data/out/*train*.csv
*_test_2.csv
.github/workflows
file_editor.ipynb
config_private.json
nohup.out
*_smote.csv

