.ipynb_checkpoints
*/__pycache__
*.log
*.zip
production_model
catboost_info
modeling/data/out/[Xy]**.csv
modeling/data/in
.github/workflows
file_editor.ipynb
config_private.json
nohup.out
modeling/mlruns/0
