<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>ML model API</title>
    </head>
    <body>
        <h1>API du modèle de classification binaire</h1>       
        <h2>Formulaire de saisie d'attributs</h2>       
        
        <form method="post" action="{{ url_for('result') }}">
            <div>
            	<label for="port">Server:</label>
            	<select id="port" name="port">
                		<option value="5677"> Staging    </option>
                		<option value="5678"> Production </option>
            	</select>
            </div>
            <br>
            <table> 
                <tr>
                    <td><label for="input_1">NAME_EDUCATION_TYPE_Higher_education :</label></td>
                    <td><input name="NAME_EDUCATION_TYPE_Higher_education" id="input_1" type="number" step="any" value="1"></td>
                    <td>long</td>
                </tr>     
                <tr>
                    <td><label for="input_2">EXT_SOURCE_3 :</label></td>
                    <td><input name="EXT_SOURCE_3" id="input_2" type="number" step="any" value="1"></td>
                    <td>double</td>
                </tr>     
                <tr>
                    <td><label for="input_3">EXT_SOURCE_2 :</label></td>
                    <td><input name="EXT_SOURCE_2" id="input_3" type="number" step="any" value="1"></td>
                    <td>double</td>
                </tr>     
                <tr>
                    <td><label for="input_4">CODE_GENDER_M :</label></td>
                    <td><input name="CODE_GENDER_M" id="input_4" type="number" step="any" value="1"></td>
                    <td>long</td>
                </tr>     
                <tr>
                    <td><label for="input_5">NAME_EDUCATION_TYPE_Secondary_or_secondary_special :</label></td>
                    <td><input name="NAME_EDUCATION_TYPE_Secondary_or_secondary_special" id="input_5" type="number" step="any" value="1"></td>
                    <td>long</td>
                </tr>     
                <tr>
                    <td><label for="input_6">NAME_CONTRACT_TYPE_Cash_loans :</label></td>
                    <td><input name="NAME_CONTRACT_TYPE_Cash_loans" id="input_6" type="number" step="any" value="1"></td>
                    <td>long</td>
                </tr>     
                <tr>
                    <td><label for="input_7">NAME_INCOME_TYPE_Working :</label></td>
                    <td><input name="NAME_INCOME_TYPE_Working" id="input_7" type="number" step="any" value="1"></td>
                    <td>long</td>
                </tr>     
            </table>
            <br>
            <div>
                <button>Predict</button>
            </div>
        </form>
        <br>
        <p>PI, valeurs des attributs pour obtenir des TP (vrai positif):</p>
        <table class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>2396</th>
      <th>2203</th>
      <th>2033</th>
      <th>443</th>
      <th>1537</th>
      <th>1359</th>
      <th>795</th>
      <th>817</th>
      <th>2544</th>
      <th>215</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NAME_EDUCATION_TYPE_Higher_education</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>EXT_SOURCE_3</th>
      <td>0.345785</td>
      <td>0.227613</td>
      <td>0.141115</td>
      <td>0.712155</td>
      <td>0.093837</td>
      <td>0.076474</td>
      <td>0.107532</td>
      <td>0.152866</td>
      <td>0.165407</td>
      <td>0.415347</td>
    </tr>
    <tr>
      <th>EXT_SOURCE_2</th>
      <td>0.702490</td>
      <td>0.317802</td>
      <td>0.349900</td>
      <td>0.089189</td>
      <td>0.075550</td>
      <td>0.018896</td>
      <td>0.245341</td>
      <td>0.546527</td>
      <td>0.261886</td>
      <td>0.403580</td>
    </tr>
    <tr>
      <th>CODE_GENDER_M</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>NAME_EDUCATION_TYPE_Secondary_or_secondary_special</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>NAME_CONTRACT_TYPE_Cash_loans</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>NAME_INCOME_TYPE_Working</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
    </body>
</html>

