
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>ML model API</title>
    </head>
    <body>
       <h1>API du modèle de classification binaire</h1>      
       <a href="/form/"><h4>Formulaire</h4></a>
       <a href="/report/"><h4>Rapport Evidently</h4></a>
       <a href="/report_simul/"><h4>Rapport Evidently de simulation</h4></a>
       <img src="https://miro.medium.com/v2/resize:fit:1200/0*5llOZkUFa4KHgDMQ.jpg">
    </body>
</html>

